<form action="/cart" method="POST">
    <input type="hidden" name="Hi" value="Rahul">
    <input type="hidden" name="productID" value="<%=product.id %>">
    <button class="btn" type="submit">Add to Cart</button>
</form>